h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
    text-align:center;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}


a
{
    text-decoration: none;
}

.nav_pages {
    margin-right: 20px;
    font-size: 120%;
    font-weight: bold;
    color: purple;
}



